@charset "UTF-8";
/* Fonts css -/Start */
/* Light font  */
@font-face {
  font-family: "Kohinoor";
  src: url("../fonts/KohinoorBangla-Light.woff2") format("woff2"), url("../fonts/KohinoorBangla-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Regular font  */
@font-face {
  font-family: "Kohinoor";
  src: url("../fonts/Kohinoor-Regular.woff2") format("woff2"), url("../fonts/Kohinoor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium font  */
@font-face {
  font-family: "Kohinoor";
  src: url("../fonts/KohinoorBangla-Medium.woff2") format("woff2"), url("../fonts/KohinoorBangla-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Semibold font  */
@font-face {
  font-family: "Kohinoor";
  src: url("../fonts/KohinoorBangla-Semibold.woff2") format("woff2"), url("../fonts/KohinoorBangla-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Bold font  */
@font-face {
  font-family: "Kohinoor";
  src: url("../fonts/KohinoorBangla-Bold.woff2") format("woff2"), url("../fonts/KohinoorBangla-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Fonts css -/End */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: "Kohinoor";
  font-weight: 400;
}

:root {
  --primary: #2E3D62;
  --secondary: #757A89;
  --red-orange: #FF8A62;
  --blue: #132247;
  --main: #805ECE;
}

.text-clr-primary {
  color: var(--primary);
}

.text-clr-secondary {
  color: var(--secondary);
}

.text-clr-red-orange {
  color: var(--red-orange);
}

.text-clr-blue {
  color: var(--blue);
}

.bg-clr-primary {
  background: var(--primary);
}

.bg-clr-secondary {
  background: var(--secondary);
}

.bg-red-orange {
  background: var(--red-orange);
}

.bg-gradient {
  background: linear-gradient(70deg, #805ECE 0%, #BE88D3 81%);
}

.bg-clr-blue {
  background: var(--blue);
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 991px) {
  .fs-18 {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.fs-22 {
  font-size: 22px;
}

.fs-38 {
  font-size: 38px;
  line-height: 1.4em;
}
@media (max-width: 575px) {
  .fs-38 {
    font-size: 26px;
    line-height: 1.4em;
  }
}

.fs-42 {
  font-size: 42px;
  line-height: 1.4em;
  text-wrap: balance;
}
@media (max-width: 1199px) {
  .fs-42 {
    font-size: 40px;
    line-height: 1.4em;
  }
}
@media (max-width: 991px) {
  .fs-42 {
    font-size: 36px;
    line-height: 1.4em;
  }
}
@media (max-width: 767px) {
  .fs-42 {
    font-size: 32px;
    line-height: 1.4em;
  }
}
@media (max-width: 575px) {
  .fs-42 {
    font-size: 28px;
    line-height: 1.37em;
  }
}
@media (max-width: 450px) {
  .fs-42 {
    font-size: 26px;
    line-height: 1.37em;
  }
}

.fs-48 {
  font-size: 48px;
  line-height: 1.4em;
}
@media (max-width: 1199px) {
  .fs-48 {
    font-size: 45px;
    line-height: 1.4em;
  }
}
@media (max-width: 991px) {
  .fs-48 {
    font-size: 42px;
    line-height: 1.4em;
  }
}
@media (max-width: 767px) {
  .fs-48 {
    font-size: 38px;
    line-height: 1.37em;
  }
}
@media (max-width: 575px) {
  .fs-48 {
    font-size: 34px;
    line-height: 1.37em;
  }
}
@media (max-width: 450px) {
  .fs-48 {
    font-size: 30px;
    line-height: 1.37em;
  }
}

.section-padding-100 {
  padding-block: 100px;
}
@media (max-width: 1199px) {
  .section-padding-100 {
    padding-block: 80px;
  }
}
@media (max-width: 991px) {
  .section-padding-100 {
    padding-block: 70px;
  }
}
@media (max-width: 767px) {
  .section-padding-100 {
    padding-block: 60px;
  }
}
@media (max-width: 575px) {
  .section-padding-100 {
    padding-block: 50px;
  }
}

/* Animation -/ Start */
@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
/* Animation -/ End */
/*====================================
-   Header CSS -/Start
====================================*/
header {
  position: absolute !important;
  width: 100% !important;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.45);
}

@media (max-width: 575px) {
  .header-logo {
    padding-block: 0;
  }
}
.header-logo img {
  max-width: 190px;
}
@media (max-width: 575px) {
  .header-logo img {
    max-width: 145px;
  }
}

.header-menu-class {
  display: flex;
  gap: 20px;
}

.header-menu-class li a {
  color: var(--primary);
  font-size: 18px;
  transition: all 250ms ease-in-out;
  position: relative;
  font-weight: 500;
}

.header-menu-class li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: linear-gradient(70deg, #805ECE 0%, #BE88D3 81%);
  border-radius: 4px;
  transition: all 250ms ease-in-out;
}

.header-menu-class li a:hover::before {
  width: 100%;
}

/*====================================
-   Header CSS -/End
====================================*/
/*====================================
-   Banner CSS -/Start
====================================*/
.banner-wrapper {
  padding-block: 140px 150px;
  background: url("../images/home-banner-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  margin-top: -2px;
}
@media (max-width: 991px) {
  .banner-wrapper {
    padding-block: 110px 100px;
    background: url('data:image/svg+xml,<svg width="371" height="633" viewBox="0 0 371 633" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.5" d="M91.8504 155.31C178.25 72.6535 318.16 22.1119 370 0C370 185.67 369.442 558.063 369.442 563.328C331.538 665.464 250.156 629.663 218.383 613.869C193.137 601.319 138.673 560.169 116.377 535.424C59.5205 476.459 17.7768 424.338 6.00871 376.429C-11.0615 306.935 5.45128 237.966 91.8504 155.31Z" fill="url(%23paint0_linear_0_1)"/><path d="M121 162.5C198.5 84 324 36 370.5 15C370.5 191.333 370 545 370 550C336 647 263 613 234.5 598C211.854 586.081 163 547 143 523.5C92.0002 467.5 54.5561 418 44.0001 372.5C28.6882 306.5 43.5001 241 121 162.5Z" fill="url(%23paint1_linear_0_1)"/><defs><linearGradient id="paint0_linear_0_1" x1="369.443" y1="8.41378e-06" x2="203.647" y2="637.847" gradientUnits="userSpaceOnUse"><stop stop-color="%23D093D7"/><stop offset="1" stop-color="%238662CE"/></linearGradient><linearGradient id="paint1_linear_0_1" x1="356.5" y1="177" x2="99.5" y2="316" gradientUnits="userSpaceOnUse"><stop stop-color="%23D093D7"/><stop offset="1" stop-color="%238561CD"/></linearGradient></defs></svg>');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
  }
}
@media (max-width: 767px) {
  .banner-wrapper {
    background-size: 50%;
    padding-block: 100px 90px;
  }
}
@media (max-width: 575px) {
  .banner-wrapper {
    background-size: 70%;
    padding-block: 80px 80px;
  }
}

.banner-content h1 {
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--blue);
}
@media (max-width: 991px) {
  .banner-content h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .banner-content h1 {
    margin-bottom: 15px;
  }
}

.banner-content p {
  margin-bottom: 40px;
}

.common-fill-button {
  background-color: transparent !important;
  background-image: linear-gradient(70deg, #805ECE 0%, #BE88D3 81%) !important;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 56px 15px 30px;
  box-shadow: 0px 20px 38px -10px rgba(128, 94, 206, 0.28);
  border-radius: 3px;
  display: inline-block;
  transition: all 200ms linear;
  transform: translateY(-2px);
}

.common-fill-button:hover {
  box-shadow: 0px 20px 38px -10px rgba(255, 255, 255, 0.28);
  transform: translateY(0px);
  transition: all 200ms linear;
}

.banner-image {
  animation: bounce 3s infinite ease-in-out;
}
@media (max-width: 991px) {
  .banner-image .nuu-book {
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .banner-image .nuu-book {
    max-width: 90%;
  }
}
@media (max-width: 575px) {
  .banner-image .nuu-book {
    max-width: 100%;
  }
}

/*====================================
-   Banner CSS -/End
====================================*/
/*====================================
-   Featured Product CSS -/Start
====================================*/
.featured-product .row {
  --bs-gutter-x: 60px;
  --bs-gutter-y: 40px;
}
@media (max-width: 991px) {
  .featured-product .row {
    --bs-gutter-x: 12px;
  }
}
@media (max-width: 991px) {
  .featured-product .featured-product-image-wrap img {
    max-width: 500px;
  }
}
.featured-product .featured-product-content .product-sub-heading {
  margin-bottom: 15px;
}
.featured-product .featured-product-content .product-title {
  margin-bottom: 20px;
}
.featured-product .featured-product-content .featured-product-description p {
  margin-bottom: 15px;
}
.featured-product .featured-product-content .featured-product-price .product-real-price {
  color: #a1a6b4;
}
.featured-product .featured-product-add-to-cart-btn {
  margin-top: 20px;
}
.featured-product .featured-product-add-to-cart-btn .featured-add-to-cart {
  padding: 9px 25px;
  border-radius: 4px;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  font-size: 18px;
  background-color: transparent;
  background-image: linear-gradient(70deg, #805ECE 0%, #BE88D3 81%);
}
.featured-product .featured-product-add-to-cart-btn .featured-add-to-cart:hover {
  background-image: linear-gradient(210deg, #805ECE 0%, #BE88D3 81%);
}

/*====================================
-   Featured Product CSS -/End
====================================*/
/*====================================
-   Footer CSS -/Start
====================================*/
.footer-top {
  padding-block: 80px 40px;
}
@media (max-width: 767px) {
  .footer-top .row {
    --bs-gutter-y: 30px;
  }
}

.footer-logo img {
  max-width: 200px;
}

.footer-about p {
  color: #dcdcdc;
}

.footer-widget h4 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  border-left: 4px solid #fff;
  padding-left: 12px;
}

.social-links a {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}

.social-links a:hover {
  background: var(--red-orange);
}

.social-links a:hover svg * {
  fill: #fff;
}

.social-links a.instagram-icon:hover svg * {
  stroke: #fff;
  fill: transparent;
}

.footer-widget .quick-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget .quick-links li a {
  color: #dcdcdc;
  transition: all 200ms ease-in-out;
  font-size: 16px !important;
}

.footer-widget .quick-links li a:hover {
  color: var(--red-orange);
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.5);
  padding: 15px 0;
  border-top: 1px solid #2E3D62;
}

.footer-copyright p {
  font-size: 14px;
}

/*====================================
-   Footer CSS -/End
====================================*/
/*====================================
- About Page Banner CSS -/Start
====================================*/
.page-banner {
  padding-block: 170px 120px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
@media (max-width: 1199px) {
  .page-banner {
    padding-block: 140px 100px;
  }
}
@media (max-width: 991px) {
  .page-banner {
    padding-block: 120px 80px;
  }
}
@media (max-width: 767px) {
  .page-banner {
    padding-block: 110px 70px;
  }
}

.page-breadcrumb nav {
  /* --bs-breadcrumb-divider: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.91003 19.92L15.43 13.4C16.2 12.63 16.2 11.37 15.43 10.6L8.91003 4.08002" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important; */
  --bs-breadcrumb-divider: none;
}

.breadcrumb-item svg * {
  stroke: #ffffff;
  transition: all 200ms ease-in-out;
}

.breadcrumb-item:hover svg * {
  stroke: #440889;
}

.breadcrumb-item.active {
  font-size: 42px;
  font-weight: 700;
  color: var(--blue);
}

.about-content {
  padding-block: 80px;
  font-size: 18px;
  color: #525050;
}
.about-content p {
  margin-bottom: 25px;
}

.page-banner-heading .banner-heading-text {
  font-weight: 600;
  color: #ffffff;
}

blockquote {
  font-size: 22px;
  width: 96%;
  margin: 50px auto;
  font-style: italic;
  color: #2E3D62;
  padding: 1.8em 30px 1.8em 75px;
  line-height: 1.6;
  position: relative;
  background-color: transparent !important;
  background-image: linear-gradient(70deg, rgba(128, 94, 206, 0.06) 0%, rgba(190, 136, 211, 0.06) 81%) !important;
  border-left-width: 8px;
  border-left-style: solid;
  -o-border-image: linear-gradient(to bottom, #805ECE, #BE88D3) 1 100%;
     border-image: linear-gradient(to bottom, #805ECE, #BE88D3) 1 100%;
}

blockquote::before {
  content: '"';
  color: #805ECE;
  font-size: 7em;
  position: absolute;
  left: -12px;
  top: -45px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #132247;
  font-style: normal;
  font-weight: 600;
  margin-top: 1em;
  font-size: 18px;
}

.special-quote {
  font-style: normal;
}

.special-quote {
  font-size: 36px;
  font-weight: 700;
}

.special-text {
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(to right, #440889 20%, #805ECE 40%, #BE88D3 60%, #805ECE 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

blockquote.special-quote::before {
  content: "‛";
  color: #BE88D3;
  font-size: 220px;
  position: absolute;
  left: 5px;
  top: -80px;
}

/*====================================
- About Page Banner CSS -/End
====================================*/
.new-section-bg {
  padding: 400px 50px;
  background: linear-gradient(165deg, var(--automated-background-1) -3.7%, var(--automated-background-2) 56.45%, var(--automated-background-3) 116.59%);
}

.scroll-reveal span {
  color: hsla(0, 0%, 100%, 0.2);
  -webkit-background-clip: text;
          background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, red, blue);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(y);
}

.scroll-reveal h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.scroll-reveal p span {
  animation-range: cover 22.5vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
/*====================================
- Image gallery CSS -/Start
====================================*/
.image-gallery img {
  border-radius: 4px;
  box-shadow: 0px 20px 25px 3px hsla(223, 58%, 18%, 0.1);
}
.image-gallery .row {
  --bs-gutter-y: 24px;
}
@media (max-width: 575px) {
  .image-gallery .row {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
  }
}
.image-gallery .image-gallery-item button {
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.image-gallery .image-gallery-item button::before {
  position: absolute;
  content: "";
  inset: 5px;
  border-radius: 6px;
  background: hsla(0, 0%, 100%, 0.314);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: 99;
  transform: translateY(calc(-100% - 10px));
  transition: all 200ms linear;
}
.image-gallery .image-gallery-item button::after {
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  border-radius: 6px;
  background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 30C24.4036 30 30 24.4036 30 17.5C30 10.5964 24.4036 5 17.5 5C10.5964 5 5 10.5964 5 17.5C5 24.4036 10.5964 30 17.5 30Z" stroke="%23292D32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M35.0003 34.9993L26.667 26.666" stroke="%23292D32" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') hsla(0, 0%, 100%, 0.25);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-repeat: no-repeat;
  background-position: center center;
  left: calc(50% - 26px);
  top: calc(50% - 26px);
  z-index: 999;
  transition: all 200ms linear;
  transition-delay: 50ms;
  transform: translateY(-185px);
}
@media (max-width: 991px) {
  .image-gallery .image-gallery-item button::after {
    width: 40px;
    height: 40px;
    background-size: 24px 24px;
  }
}
.image-gallery .image-gallery-item:hover button::before {
  transform: translateY(0%) !important;
}
.image-gallery .image-gallery-item:hover button::after {
  transform: translateY(0px) !important;
}

.modal-dialog {
  max-width: 40%;
}

.modal-close-btn {
  cursor: pointer;
}

/*====================================
- Image gallery CSS -/End
====================================*/
/*====================================
- Blog page CSS -/Start
====================================*/
.blog-section {
  padding-block: 80px;
}
@media (max-width: 1199px) {
  .blog-section {
    padding-block: 60px;
  }
}
@media (max-width: 991px) {
  .blog-section {
    padding-block: 40px;
  }
}
.blog-section .row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
}
.blog-section .single-post-wrap {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 8px;
  background: rgba(246, 246, 246, 0.5843137255);
}
.blog-section .single-post-wrap .post-featured-img {
  padding-bottom: 20px;
}
.blog-section .single-post-wrap .post-featured-img img {
  border-radius: 4px;
}
.blog-section .single-post-wrap .post-content-wrapper {
  padding-inline: 10px;
}
.blog-section .single-post-wrap .post-content-wrapper .post-heading .post-title {
  line-height: 1.4em;
}
.blog-section .single-post-wrap .post-content-wrapper .post-heading .post-title a {
  transition: all 200ms ease-in-out;
}
.blog-section .single-post-wrap .post-content-wrapper .post-heading .post-title:hover a {
  color: var(--red-orange);
}
.blog-section .single-post-wrap .post-content-wrapper .post-content {
  padding-bottom: 10px;
  line-height: 1.4em;
}
.blog-section .post-read-more-btn {
  background: var(--blue);
  color: #ffffff;
  font-size: 14px;
  padding: 6px 15px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 20px;
  transition: all 200ms ease-in-out;
}
.blog-section .post-read-more-btn:hover {
  background: var(--red-orange);
}

.single-blog-page .row {
  --bs-gutter-x: 40px;
  --bs-gutter-y: 40px;
}

.wp-block-search__inside-wrapper {
  position: relative;
  height: 52px;
}
.wp-block-search__inside-wrapper .wp-block-search__input {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-inline: 20px;
  color: var(--blue);
  z-index: 8;
  transition: all 230ms ease-in-out;
  line-height: 1.5em;
  border: 2px solid #EAE8F3;
}
.wp-block-search__inside-wrapper .wp-block-search__input:focus {
  border: 2px solid hsla(223, 58%, 18%, 0.8);
  outline: none;
}
.wp-block-search__inside-wrapper .wp-block-search__button {
  font-size: 0px;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.75 14C11.2018 14 14 11.2018 14 7.75C14 4.29822 11.2018 1.5 7.75 1.5C4.29822 1.5 1.5 4.29822 1.5 7.75C1.5 11.2018 4.29822 14 7.75 14Z" stroke="%23FF8A62" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.4997 16.5007L12.333 12.334" stroke="%23FF8A62" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9;
  border: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.child-sidebar .single-sidebar-wrap {
  margin-top: 30px;
  border-radius: 8px;
  border: 2px solid #EAE8F3;
}
.child-sidebar .single-sidebar-wrap .wp-block-heading {
  font-size: 22px;
  font-weight: 700;
  color: var(--blue);
  background: hsla(258, 53%, 59%, 0.08);
  padding: 10px 25px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list {
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list li {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -11px;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(234, 232, 243, 0) 0%, #EAE8F3 51.44%, rgba(234, 232, 243, 0.01) 100%);
  z-index: 9;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list li:last-child::after {
  background: transparent;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list li .wp-block-latest-posts__featured-image a img {
  width: 60px;
  border-radius: 8px;
  min-width: 60px;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list li a.wp-block-latest-posts__post-title {
  font-size: 18px;
  color: var(--blue);
  font-weight: 600;
  transition: all 230ms ease-in-out;
  line-height: 1.4em;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-latest-posts__list li a.wp-block-latest-posts__post-title:hover {
  color: var(--red-orange);
  text-decoration-color: hsla(15, 100%, 69%, 0.5);
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list {
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: var(--blue);
  transition: all 230ms ease-in-out;
  position: relative;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -11px;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(234, 232, 243, 0) 0%, #EAE8F3 51.44%, rgba(234, 232, 243, 0.01) 100%);
  z-index: 9;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item:hover {
  color: var(--red-orange);
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item a {
  font-size: 18px;
  color: var(--blue);
  padding-left: 30px;
  position: relative;
  font-weight: 600;
  transition: all 230ms ease-in-out;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item a:hover {
  color: var(--red-orange);
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: calc(50% - 10px);
  background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.167 8.33268H15.8337C17.5003 8.33268 18.3337 7.49935 18.3337 5.83268V4.16602C18.3337 2.49935 17.5003 1.66602 15.8337 1.66602H14.167C12.5003 1.66602 11.667 2.49935 11.667 4.16602V5.83268C11.667 7.49935 12.5003 8.33268 14.167 8.33268Z" stroke="%23132247" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.16699 18.3327H5.83366C7.50033 18.3327 8.33366 17.4993 8.33366 15.8327V14.166C8.33366 12.4993 7.50033 11.666 5.83366 11.666H4.16699C2.50033 11.666 1.66699 12.4993 1.66699 14.166V15.8327C1.66699 17.4993 2.50033 18.3327 4.16699 18.3327Z" stroke="%23132247" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.00033 8.33268C6.84127 8.33268 8.33366 6.8403 8.33366 4.99935C8.33366 3.1584 6.84127 1.66602 5.00033 1.66602C3.15938 1.66602 1.66699 3.1584 1.66699 4.99935C1.66699 6.8403 3.15938 8.33268 5.00033 8.33268Z" stroke="%23132247" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.0003 18.3327C16.8413 18.3327 18.3337 16.8403 18.3337 14.9993C18.3337 13.1584 16.8413 11.666 15.0003 11.666C13.1594 11.666 11.667 13.1584 11.667 14.9993C11.667 16.8403 13.1594 18.3327 15.0003 18.3327Z" stroke="%23132247" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}
.child-sidebar .single-sidebar-wrap ul.wp-block-categories-list li.cat-item:last-child::after {
  background: transparent;
}

.page-navigation-wrap {
  padding-top: 50px;
}
.page-navigation-wrap .wp_page_nav .all-pages-number {
  text-align: center;
  margin-bottom: 15px;
}
.page-navigation-wrap .wp_page_nav .page-numbers {
  color: var(--blue);
  padding: 3px 11px;
  border: 1px solid var(--blue);
  border-radius: 200px;
  transition: all 200ms ease-in-out;
  margin: 0 2px;
  display: inline-block;
}
.page-navigation-wrap .wp_page_nav .page-numbers a {
  line-height: 1.1em;
}
.page-navigation-wrap .wp_page_nav .page-numbers.prev, .page-navigation-wrap .wp_page_nav .page-numbers.next {
  border: none;
  transition: all 200ms ease-in-out;
}
.page-navigation-wrap .wp_page_nav .page-numbers.prev svg *, .page-navigation-wrap .wp_page_nav .page-numbers.next svg * {
  transition: all 150ms ease-in-out;
}
.page-navigation-wrap .wp_page_nav .page-numbers.prev:hover, .page-navigation-wrap .wp_page_nav .page-numbers.next:hover {
  background: transparent;
}
.page-navigation-wrap .wp_page_nav .page-numbers.prev:hover svg *, .page-navigation-wrap .wp_page_nav .page-numbers.next:hover svg * {
  stroke: var(--red-orange);
}
.page-navigation-wrap .wp_page_nav .page-numbers:hover {
  color: #ffffff;
  background: var(--blue);
}
.page-navigation-wrap .wp_page_nav .page-numbers.current {
  color: var(--red-orange);
  border-color: var(--red-orange);
}
.page-navigation-wrap .wp_page_nav .page-numbers.current:hover {
  background: var(--red-orange);
  color: var(--blue);
}

/*====================================
- Blog page CSS -/End
====================================*/
/*====================================
- Single post page CSS -/Start
====================================*/
.single-post-page-wrap .post-heading {
  margin-bottom: 20px;
}
.single-post-page-wrap .post-featured-img {
  margin-bottom: 30px;
}
.single-post-page-wrap .post-featured-img img {
  border-radius: 8px;
}
.single-post-page-wrap .post-content {
  line-height: 1.7em;
}
.single-post-page-wrap .post-content p {
  margin-bottom: 25px;
}
.single-post-page-wrap .post-date-and-category {
  margin-bottom: 30px;
}
.single-post-page-wrap .post-date-and-category .post-category-wrap a {
  color: var(--blue);
  transition: all 200ms ease-in-out;
  font-weight: 500;
}
.single-post-page-wrap .post-date-and-category .post-category-wrap a:hover {
  color: var(--red-orange);
}

/*====================================
- Single post page CSS -/End
====================================*/
/*====================================
- Contact page CSS -/Start
====================================*/
.contact-form-section .row {
  --bs-gutter-x: 50px;
  --bs-gutter-y: 40px;
}
.contact-form-section .google-map-iframe {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  pointer-events: none;
}
.contact-form-section .contact-form7 .row {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 24px;
}
.contact-form-section .contact-form7 label,
.contact-form-section .contact-form7 .wpcf7-form-control-wrap {
  width: 100%;
}
.contact-form-section .contact-form7 .form-field-group {
  font-size: 18px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(117, 122, 137, 0.4274509804);
  border-radius: 4px;
}
.contact-form-section .contact-form7 .form-field-group:focus {
  outline: none;
  border-color: var(--blue);
}
.contact-form-section .contact-form7 .wpcf7-submit {
  border: none;
  padding: 9px 25px;
  border-radius: 4px;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  font-size: 18px;
  background-color: transparent;
  background-image: linear-gradient(70deg, #805ECE 0%, #BE88D3 81%);
  font-weight: 600;
}
.contact-form-section .contact-form7 .wpcf7-submit:hover {
  background-image: linear-gradient(210deg, #805ECE 0%, #BE88D3 81%);
}
.contact-form-section .contact-info-wrap {
  margin-top: 40px;
}
.contact-form-section .contact-info-wrap ul {
  list-style: none;
  gap: 15px;
}
.contact-form-section .contact-info-wrap ul li {
  gap: 15px;
}
.contact-form-section .contact-info-wrap ul li a {
  transition: color 230ms ease-in-out;
  transition: border 130ms ease-in-out;
  border-bottom: 2px solid transparent;
}
.contact-form-section .contact-info-wrap ul li a:hover {
  color: var(--red-orange);
  border-bottom: 2px solid var(--red-orange);
}

textarea {
  resize: none;
}

/*====================================
- Contact page CSS -/End
====================================*//*# sourceMappingURL=theme.css.map */